<footer class="bg-light text-muted pt-2 pb-4">
  <div class="container d-flex justify-content-between flex-wrap">
    <div class="d-flex d-flex align-items-center">
      <p>Copyright &copy; <%= Time.now.year %> Your Company!</p>
    </div>
    <div>
      <nav class="nav">
        <p class="nav-link disabled pl-0">Select language:</p>
        <a class="nav-link" href="#">En</a>
        <a class="nav-link" href="#">Fr</a>
      </nav>
    </div>
  </div>
</footer>
