<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container d-flex justify-content-between">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <h1>Pro Tips</h1>
      <% end %>
      <div class="collapse navbar-collapse d-flex justify-content-end">
        <%= render partial: 'anonymous_user_header' %>
      </div>
    </div>
  </nav>
</header>
