<p id="notice"><%= notice %></p>

<h1>All users</h1>
<div class="row mt-4">
  <% @users.each do |user| %>
    <div class="col-md-4">
      <%= render partial: 'user_card', locals: { user: user } %>
    </div>
  <% end %>
</div>
<%= paginate @users%>
